# Eclipse & IntelliJ
.classpath
.project
.settings/
.idea/
*.iml

# Build dirs
bin/
out/
target/

# Selenium reports
test-output/
reports/
extent-reports/
logs/
*.log

# Cypress stuff
node_modules/
cypress/screenshots/
cypress/videos/
package-lock.json
downloads/

# OS junk
.DS_Store
Thumbs.db
